*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

:root{
    --font: 'Montserrat', sans-serif; 
    --colorPrincipal: #315e93;
    --colorDia: white;
    --fondoCat: #e0e0e0;
    --h1: 2.5em; 
    --h2:1.8em;
    --tituGrosor: 400;
    --h3: 1.5em;
}

/* INDEX */

body{
    max-width: 1920px;
    max-height: 1080px;
    font-size: 62.5%;

}

/* Grilla */

#grilla{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "logo logo header header header"
    "inicio inicio inicio inicio inicio"
    "inicio inicio inicio inicio inicio"
    "certify certify certify certify certify"
    "footer footer footer footer footer";
    grid-template-rows: 10vh 30vh 30vh 40vh 5vh ;
    grid-template-columns: 20% 20% 20% 20% 20%;
    background-image: url(../imagenes/foto\ avion.jpg);
    background-size:cover;
    background-attachment: fixed;
    width: 100%;


}

/* Logo y Header */

.logo{
    height: 7em;
    grid-area: logo;
    justify-self: start;
    align-self: center;
    display: flex;
    flex-direction: row;
    margin: 0.8em 0 0 0.5em;

}

.logo-title{
    color: white; font-style: italic; font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    height: 3em;
}

.logo-img{
    width: 9em;
    height: 5em;
}


.logoGrafico{
    width: 100%;
    height: 100%;
}


.etiquetaHeader{
    grid-area: header;
    align-self: flex-start;
    margin-top: 1.5em;
    margin-right: 1em;
}

.header{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row ;
    text-decoration: none;
    list-style-type: none;
    justify-content:end;
}

#headerLink{
    color: white;
    margin-right: 0.8em;    
    font-family: var(--font);
    font-size: 1.4em;
    font-weight: bolder;
}

/* Inicio */

.inicio{
    grid-area: inicio;
    justify-self: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.inicio__title{
justify-content:center;
color: white;
font-family: var(--font);
font-size: 2.5em;

}

.inicio__txt{
justify-content:center;
font-family: var(--font);
font-size: 1.5em;
color: white;
margin-bottom: 0.3em;
}

.inicio__varios-botonLook{
justify-content:center;
width: 15em;
height: 3em;
background-color: #315e93; color: white;
border: none;
border-radius: 5em;
font-family: 'Montserrat', sans-serif; 
font-size: 1.5em;

}

.inicio__varios-botonReserve{
justify-content:center;
width: 15em;
height: 3em;
background-color: #315e93; color: white;
border: none;
border-radius: 5em;
font-family: 'Montserrat', sans-serif; 
font-size: 1.5em;

}

/* Certify */

.certify{
    grid-area: certify;
}

.certify__head__table{
        display: flex;
    flex-direction: row;
    justify-content: space-around ;
    align-content: center;    
    flex-wrap:wrap;
}

.certify__title{
    color: white;
    font-family: var(--font);
    margin-left: 1em;
}

/* Footer */

.footer{
    grid-area: footer;
    background-color:var(--colorPrincipal);
    width: 100%;
    height: auto;
}

.footer__rights{
    color: white;
    font-size: 1.5em;
    font-family: var(--font);
    margin-left: 1em;




}





/* CATALOGO */

/* Grilla */

#grilla2{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-areas:
    "inicio2 inicio2 inicio2 inicio2 inicio2"
    "inicio2 inicio2 inicio2 inicio2 inicio2"
    "marcas marcas marcas marcas marcas"    
    "modelos modelos modelos modelos modelos"
    "form form form form form"
    "footer footer footer footer footer";
    grid-template-rows: 20em 30vh 15em 140em 35vh 5vh ;
    grid-template-columns: 20% 20% 20% 20% 20%;


}


/*LOGO Y HEADER 2*/

.headerLogoInicio2{
    grid-area: inicio2;
    background-image: url(../imagenes/taller.jpeg);
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo2{
    height: 7em;

    display: flex;
    flex-direction: row;
    margin: 0.8em 0 0 0.5em;
}

.logo-title2{
    color: white; font-style: italic; font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    height: 3em;
}

.logo-img2{
    width: 9em;
    height: 5em;
}


.logoGrafico2{
    width: 100%;
    height: 100%;
}

.etiquetaHeader2{


    margin-top: 1.5em;
    margin-right: 1em;
}

.header2{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap;
    text-decoration: none;
    list-style-type: none;
    justify-content:end;
}

#headerLink2{
    color: white;
    margin-right: 0.8em;    
    font-family: var(--font);
    font-size: 1.4em;
    font-weight: bolder;
}

/* Inicio */

.inicio2{
grid-area: inicio2;
position: absolute;
align-self: center;
justify-self: center;
text-align: center;
width: 100%;

}

.inicio__title2{
font-family: var(--font);
color: var(--colorDia);
font-size: var(--h1);
font-style: oblique;
font-weight: var(--tituGrosor);

}

/*Modelos*/

.mod{
    grid-area: marcas;
    width: 100%;
    align-self: center;
}

.mod-title{
    margin: 0.5em;
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h2);
    font-weight: var(--tituGrosor);

}

.mod-table{
    display: flex;
    flex-direction: row;
    justify-content:space-around ;    
    list-style-type: none;    
    align-content: center;
    flex-wrap: wrap;

}

.catalogo{
    grid-area: modelos;
    margin: 1em;

}

.reserve{
    grid-area: form;

}


/* helices catalogo*/

.catalogo__madera-title{
    font-family: var(--font);
    font-size: var(--h2);
    color: var(--colorPrincipal);
    font-weight: var(--tituGrosor);
}

.catalogo__madera__table__mod1{
display: flex;
flex-direction: row;
width: 100%;
background-color: var(--fondoCat);

align-content:center;
}

.catalogo__madera__table__mod1__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__madera__table__mod1-title{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__madera__table__mod1__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__madera__table__mod1__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__madera__table__mod1-img{
    height: 20em;
    width: 20em;
}

.catalogo__madera__table__mod2{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--fondoCat);
    
    align-content:center;
    }
    
.catalogo__madera__table__mod2__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__madera__table__mod2-title{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__madera__table__mod2__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__madera__table__mod2__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__madera__table__mod2-img{
    height: 20em;
    width: 20em;
}

.catalogo__madera__table__mod3{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--fondoCat);
    
    align-content:center;
    }
    
.catalogo__madera__table__mod3__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__madera__table__mod3-title{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__madera__table__mod3__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__madera__table__mod3__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__madera__table__mod3-img{
    height: 20em;
    width: 20em;
}

.catalogo__madera__table__mod4{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--fondoCat);
    
    align-content:center;
    }
        
.catalogo__madera__table__mod4__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__madera__table__mod4-title{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__madera__table__mod4__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__madera__table__mod4__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__madera__table__mod4-img{
    height: 20em;
    width: 20em;
}


/* repuestos catalogo*/

.catalogo__repuestos-title{
    font-family: var(--font);
    font-size: var(--h2);
    color: var(--colorPrincipal);
    font-weight: var(--tituGrosor);
}

.catalogo__repuestos__tabla__1{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--fondoCat);
    
    align-content:center;
    }
        
.catalogo__repuestos__tabla__1__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__repuestos__tabla-title{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__repuestos__tabla__1__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__repuestos__tabla__1__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__repuestos__tabla__1-img{
    height: 20em;
    width: 20em;
}

.catalogo__repuestos__tabla__2{
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: var(--fondoCat);
    
    align-content:center;
    }
        
.catalogo__repuestos__tabla__2__div{
    gap:2em;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    margin: 1em;

}

.catalogo__repuestos__tabla-title2{
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-size: var(--h3);

}


.catalogo__repuestos__tabla__2__div-btn{


    padding: 0.25em 0 0 0.6em;
    width: 100px;
    height: 30px;
    background-color: var(--colorPrincipal); color: white;
    border: none;
    border-radius: 50px;
    font-family: var(--font); 
    font-size: 1.5em;
}

.catalogo__repuestos__tabla__2__div-info{
    justify-content: space-evenly;
    align-content: space-between;
    font-family: var(--font);
    font-size: 1.5em;
}

.catalogo__repuestos__tabla__2-img{
    height: 20em;
    width: 20em;
}

/*Form*/

.reserve{
 grid-area: form;
 justify-self: center;

}

.reserve__titulo{
    font-size: var(--h2);
    font-family: var(--font);
    color: var(--colorPrincipal);
    font-weight: var(--tituGrosor);
}

.reserve__form{
    display: flex;
    flex-direction: column;

}

.reserve__form-name{
    height: 2em;
    font-family: var(--font);
    border: none;
    border-bottom: 0.2em solid var(--colorPrincipal);
    width: 40em;
}

.reserve__form-surname{
    height: 2em;
    font-family: var(--font);
    border: none;
    border-bottom: 0.2em solid var(--colorPrincipal);
    width: 40em;
}

.reserve__form-mail{
    height: 2em;
    font-family: var(--font);
    border: none;
    border-bottom: 0.2em solid var(--colorPrincipal);
    width: 40em;
}

.reserve__form-question{
    height: 2em;
    font-family: var(--font);
    border: none;
    border-bottom: 0.2em solid var(--colorPrincipal);
    width: 40em;
}

.reserve__form-submit{
    height: 2em;
    width: 8em;
    border-radius: 2em;
    border: none;
    background-color: var(--colorPrincipal);
    color: var(--colorDia);
    font-family: var(--font);
    font-weight: 300;
}


/* MEDIA QUERI */

@media screen and (max-width:1250px){
    
    #grilla2{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "marcas marcas marcas marcas marcas"    
        "modelos modelos modelos modelos modelos"
        "form form form form form"
        "footer footer footer footer footer";
        grid-template-rows: 10vh 10vh 30em 140em 35vh 5vh ;
        grid-template-columns: 20% 20% 20% 20% 20%;
    
    
    }

    .mod{
        grid-area: marcas;
        width: 100%;
    }

    .mod-table{
        display: flex;
        flex-direction: row;
        justify-content:space-around ;    
        list-style-type: none;    
        align-content: center;
        flex-wrap: wrap;
    
    }


}


@media screen and (max-width:1214px){
    

    #grilla{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        "logo logo header header header"
        "inicio inicio inicio inicio inicio"
        "inicio inicio inicio inicio inicio"
        "certify certify certify certify certify"
        "footer footer footer footer footer";
        grid-template-rows: 10vh 30vh 30vh 50em 5vh ;
        grid-template-columns: 20% 20% 20% 20% 20%;
        background-image: url(../imagenes/foto\ avion.jpg);
        background-size:cover;
        background-attachment: fixed;
        width: 100%;
    
    
    }

}

@media screen and (max-width:625px){
    
    body{
        font-size: 40%;
    }

    #grilla{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        "logo logo header header header"
        "inicio inicio inicio inicio inicio"
        "inicio inicio inicio inicio inicio"
        "certify certify certify certify certify"
        "footer footer footer footer footer";
        grid-template-rows: 10vh 30vh 30vh 220em 5vh ;
        grid-template-columns: 20% 20% 20% 20% 20%;
        background-image: url(../imagenes/foto\ avion.jpg);
        background-size:cover;
        background-attachment: fixed;
        width: 100%;
    
    
    }

    .logo{
        height: 7em;
        grid-area: logo;
        justify-self: start;
        align-self: center;
        display: flex;
        flex-direction: column;
        margin: 0.8em 0 0 0.5em;
    
    }


    
    #grilla2{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "marcas marcas marcas marcas marcas"    
        "modelos modelos modelos modelos modelos"
        "form form form form form"
        "footer footer footer footer footer";
        grid-template-rows: 10vh 10vh 55em 140em 35vh 5vh ;
        grid-template-columns: 20% 20% 20% 20% 20%;
    
    
    }

    .mod{
        grid-area: marcas;
        width: 100%;
    }

    .mod-table{
        display: flex;
        flex-direction: row;
        justify-content:space-around ;    
        list-style-type: none;    
        align-content: center;
        flex-wrap: wrap;
    
    }


    .reserve__titulo{
        font-size: var(--h2);
        font-family: var(--font);
        color: var(--colorPrincipal);
        font-weight: var(--tituGrosor);
    }
    
    .reserve__form{
        display: flex;
        flex-direction: column;
    
    }
    
    .reserve__form-name{
        height: 2em;
        font-family: var(--font);
        border: none;
        border-bottom: 0.1em solid var(--colorPrincipal);
        width: 20em;
    }
    
    .reserve__form-surname{
        height: 2em;
        font-family: var(--font);
        border: none;
        border-bottom: 0.1em solid var(--colorPrincipal);
        width: 20em;
    }
    
    .reserve__form-mail{
        height: 2em;
        font-family: var(--font);
        border: none;
        border-bottom: 0.1em solid var(--colorPrincipal);
        width: 20em;
    }
    
    .reserve__form-question{
        height: 2em;
        font-family: var(--font);
        border: none;
        border-bottom: 0.1em solid var(--colorPrincipal);
        width: 20em;
    }
    
    .reserve__form-submit{
        height: 1em;
        width: 5em;
        border-radius: 1em;
        border: none;
        background-color: var(--colorPrincipal);
        color: var(--colorDia);
        font-family: var(--font);
        font-weight: 300;
    }


}

@media screen and (max-width:468px){
    
    body{
        font-size: 30%;
    }


    #grilla2{
        height: 100%;
        width: 100%;
        display: grid;
        grid-template-areas:
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "inicio2 inicio2 inicio2 inicio2 inicio2"
        "marcas marcas marcas marcas marcas"    
        "modelos modelos modelos modelos modelos"
        "form form form form form"
        "footer footer footer footer footer";
        grid-template-rows: 10vh 10vh 120em 140em 35vh 5vh ;
        grid-template-columns: 20% 20% 20% 20% 20%;
    
    
    }

    .mod{
        grid-area: marcas;
        width: 100%;
    }

    .mod-table{
        display: flex;
        flex-direction: row;
        justify-content:space-around ;    
        list-style-type: none;    
        align-content: center;
        flex-wrap: wrap;
    
    }


}