
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

// variables

$colorFondo1: rgba(49, 94, 147, 1);
$colorFondo2: rgb(224, 224, 224);
$fuente:'Montserrat', sans-serif;


// General

.bodyCatalogo{
    max-width: 1920px;
    max-height: 1080px;
    font-size: 62.5%;

    background-size: cover;
    background-attachment: fixed;
    background-position: center;

}

// NAV

.navbar{
    &-nav{
        color: rgb(0, 0, 0);
        font-size: 1rem;
        width: 100vh;
    }
    &-brand > img{
        width: 20rem;
    }

}

#navbarDropdownMenuLink{
    color: black;
    font-family: $fuente
}

#estiloNav{
    color: black;
    font-family: $fuente
}

.contenedorNav{
    height: 6rem;
}


.header-main{
    max-height: 100vh;
}

.header2{
    height: auto;
}

#mainNav{
    height: 1.5rem;
}

.navbar-toggler{
    color: white;
}

#headerLink2{
    color: rgb(255, 255, 255);
    font-family: $fuentePag;
    font-size: 1.4em;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;  
}

.header{
    &__services2:hover{
        background-color: rgba(255, 255, 255, 0.288);
        border-radius: 0.2rem;
        transition: .5s;
    }
    &__index2:hover{
        @extend .header__services2
    }
    &__catalogue2:hover{
        @extend .header__services2
    }
    &__filosofia2:hover{
        @extend .header__services2
    }
    &__contact2:hover{
        @extend .header__services2
    }
    &__history2:hover{
        @extend .header__services2
    }
}

@media screen and (max-width:767px){

    .contenedorNav{
        height: 12rem;
        width: 100vh;
    }
    .bodyCatalogo{

        font-size: 55.5%;
    }

    .navbar{
        &-brand > img{
            width: 15rem;
        }
    
    }

}




// pagina

// Inicio

.inicioC{
    height: 20rem;
    width: 100%;
    // background-image: url(..//imagenes/el-taller.jpg);
    // opacity: 0.9;
    // border-radius: 0.5rem;
    background-size: cover;
    &__titulo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-self: center;
        &-txt{
            font-style: oblique;
            font-weight: 400;
            font-family: $fuente;
            color: rgb(0, 0, 0);
            justify-content:center;
            align-self: center;
        }
    }
    &-img{
        margin-top: 2rem;
        width: 40rem;
    }
}

.marcas{
    height: 8rem;
}

.modelos{
    height:60rem;
}

.repuestos{
    height: 30rem;
}

