// vars

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;

}

$tamañosFont:(
    xgrande: 5em,
    grande: 4em,
    mediano: 3em,
    chico: 1.5em,
    xchico:1em,

);

$fuente: Arial, Helvetica, sans-serif;
$fuentePag: 'Montserrat', sans-serif;


$fondos:(
    grisOscuro:rgb(83, 83, 83) ,
    gris: rgb(224, 224, 224),
    azul: rgba(49, 94, 147, 1) ,
    blanco:  white

);

@mixin flex ($direc , $justify, $wrap) {
    display: flex;
    flex-direction: $direc;
    justify-content: $justify;
    flex-wrap: $wrap;

}


.bodyContacto{
    max-width: 1920px;
    max-height: 1080px;
    font-size: 62.5%;
    background-image: url(../imagenes/juan-pintura.jpeg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;




}

.mascara{
    height: auto;
    background-color: rgba(0, 0, 0, 0.699);

}

.nav{
    height: 20vh;
}




.logo{
    @include flex(row,flex-start ,wrap );
    height: 3vh;
    &-title{
        color: white; font-style: italic; font-family: Arial, Helvetica, sans-serif;
        font-size: 3em;
        height: 3em;
        margin-top: 0.2em;
    }
    &__container{
        width: 9em;
        height: 5em;
        &-grafico{
            width: 100%;
            height: 100%;
        }
    }

}

.header{
    @include flex (row,end,wrap);
    font-family: $fuente;


}

.inicio{
    width: 100%;
    &__txt{
        font-size: 1.9em;
    }
    
}



// .col-md-8{
//     height: 5vh;
// }


.contacto-parrafos{
    // height: 76.8vh;
}


#headerLink{
    color: white;
    margin-right: 0.8em;    
    font-family: $fuentePag;
    font-size: 1.4em;
    font-weight: bolder;
    text-decoration: none;
    list-style: none;
    text-transform: uppercase;

    
}

.header{
    &__services:hover{
        background-color: rgba(255, 255, 255, 0.534);
        border-radius: 1em;
        transition: .5s;
    }
    &__index:hover{
        @extend .header__services
    }
    &__catalogue:hover{
        @extend .header__services
    }
    &__filosofia:hover{
        @extend .header__services
    }
    &__contact:hover{
        @extend .header__services
    }
    &__history:hover{
        @extend .header__services
    }
}

#navbarToggleExternalContent{
    position:absolute;
}


.etiquetaHeader{
    grid-area: header;
    align-self: flex-start;
    margin-top: 1.5em;
    margin-right: 1em;
    text-decoration: none;
}

.fondo{
    // height: 100vh;
}

.contactoInicio{
    font-family: $fuentePag;
    color:white;
    font-size: 2em;
    height: 75vh;
}

.footerContacto{

    color: white;
    height: 5vh;
    font-size: 1.2em;

}

.contacto{
    &-parrafos1{
 
    }
}

@media screen and (max-width:992px){

    .etiquetaHeader{

    }


}