*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    /* font-family: Arial, Helvetica, sans-serif; */
}

// MAPS MIXINS ETC



// MAP

$tamañosFont:(
    xgrande: 5em,
    grande: 4em,
    mediano: 3em,
    chico: 1.5em,
    xchico:1em,

);


$fondos:(
    grisOscuro:rgb(83, 83, 83) ,
    gris: rgb(224, 224, 224),
    azul: rgba(49, 94, 147, 1) ,
    blanco:  white

);

@each $var,$val in $fondos {
    .color-#{$var}{
        background-color: #{$val};
    }
}


    


// MIXIN
@mixin flex ($direc , $justify, $wrap){
    display: flex;
    flex-direction: $direc;
    justify-content: $justify;
    flex-wrap: $wrap;
    
}



// variables

$colorFondo1: rgba(49, 94, 147, 1);
$colorFondo2: rgb(224, 224, 224);
$fuente:'Montserrat', sans-serif;


.todosLosServicios{
    margin-top: 10rem;
    height: 250 rem;
}


.inicioS{
    margin-bottom: 5rem;
    height: 20rem;
    width: 100%;
    background-size: cover;
    &__titulo{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-self:center;
        &-txt{
            font-style: oblique;
            font-weight: 400;
            font-family: $fuente;
            color: rgb(0, 0, 0);
            justify-content:center;
            align-items:flex-start;
        }
    }
    &-img{

        width: 40rem;
        height: 100%;
        background-image: url(..//imagenes/foto-pintura.jpg);
        opacity: 0.9;
        background-size:cover;
        background-position:initial;
        
        border-radius: 0.5rem;
         
    }
}

